@model IEnumerable<WebUI.Models.RouteViewModel>
    
@{
    Layout = null;
}

<table class="table" id="routes-table">
    <thead>
        <tr>
            <th>Route</th>
            <th>Departure/Arrival time</th>
            <th>Free places</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var route in Model)
        {
            <tr>
                <td>
                    <span>@route.FirstStationName-</span>
                    <span>@route.LastStationName</span>
                </td>
                <td>
                    <p>@route.DepartureTime</p>
                    <p>@route.ArriveTime</p>
                </td>
                <td>
                    <p>@route.FreePlacesCount</p>
                </td>
                <td>
                    @Ajax.ActionLink("Delete", "DeleteRoute", new { RouteId = route.Id }, new AjaxOptions { UpdateTargetId = "routes-table" }, new { Class = "delete-route-link" })
                </td>
            </tr>
        }
        <hr />
        </tbody>
    </table>

