@model WebUI.Models.CarriageViewModel

@Scripts.Render("~/bundles/unubtrusiveParseBody")

<div id="carriage-create-id" class="carriage-create">
    @using (Html.BeginForm("CreateCarriage", "Train"))
    {
        @Html.HiddenFor(m => m.TrainId)
        @Html.ValidationMessageFor(m => m.Number)
        <p>Number: @Html.EditorFor(m => m.Number, new {Type = "number"})</p>
        <p>Type: @Html.DropDownListFor(m => m.SelectedType, Model.CarriageTypes)</p>
        <hr/>

        <input type="submit" value="Append carriage"/>
    }
</div>